*{
    margin: 0;
    padding: 0;
}


.head{
    background-image: url(https://cutewallpaper.org/21/coding-wallpaper-hd/55+-Coding-Wallpapers-Download-at-WallpaperBro.jpg);
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin-bottom: 0;
}
.jumbotron h1{
    padding-top: 100px;
    font-weight: 500;
}

.colored{
    width: 100%;
text-align: center;
    background: #ec008c;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #fc6767, #ec008c);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #fc6767, #ec008c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
display: flex;
color: white;
flex-wrap: wrap;
flex-direction: row;
justify-content: space-around;
}

.course{
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card{
    margin-top: 10px;
}

.card img{
    height: 150px;
}

.card:hover{
    box-shadow: 4px 4px 5px 3px rgba(0,0,0,0.5);
}

.footer{
    overflow: hidden;
    padding: 50px 0px 0px;
}

.footer ul{
    list-style-type: none;
}

.copy{
    padding: 10px;
    background-color: black;
    color: white;
}